{# templates /artists/list.html.twig#}
{% extends "_template.html.twig" %}
{% block title %}
    Artistes
{% endblock %}
{% block content %}
    <div class="section">
    <h2 class="title">Artistes
        </h2>
    </div>

{% endblock %}

